In [1]:
import pandas as pd

In [2]:
city1 =pd.series([12,-6,8,-3])

AttributeError: module 'pandas' has no attribute 'series'

In [3]:
city1 = pd.series([12,-6,8,-3])

AttributeError: module 'pandas' has no attribute 'series'

In [1]:
city1 = pd.series([12,-6,8,-3])

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
city1 = pd.series([12,-6,8,-3])

AttributeError: module 'pandas' has no attribute 'series'

In [4]:
city1 = pd.series([12,-6,8,-3])

AttributeError: module 'pandas' has no attribute 'series'

In [5]:
city1 = pd.Series([12,-6,8,-3])

In [6]:
print city1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(city1)? (<ipython-input-6-60719815e5bb>, line 1)

In [7]:
city1

0    12
1    -6
2     8
3    -3
dtype: int64

In [8]:
city1.values

array([12, -6,  8, -3], dtype=int64)

In [9]:
city1.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
city1.dtype

dtype('int64')

In [11]:
city2 =pd.Series([12,-6,8,-3], index =['day1','day2','day3','day4'])

In [12]:
city2

day1    12
day2    -6
day3     8
day4    -3
dtype: int64

In [13]:
city2['day3']

8

In [14]:
city2[['day1','day2']]

day1    12
day2    -6
dtype: int64

In [15]:
city>4

NameError: name 'city' is not defined

In [16]:
city2>4

day1     True
day2    False
day3     True
day4    False
dtype: bool

In [17]:
city2[city2>0]

day1    12
day3     8
dtype: int64

In [18]:
city2.min()

-6

In [19]:
city2.max()

12

In [20]:
city2[(city2>2)& (city2<9)]

day3    8
dtype: int64

In [21]:
city2+3

day1    15
day2    -3
day3    11
day4     0
dtype: int64

In [22]:
city2-3

day1    9
day2   -9
day3    5
day4   -6
dtype: int64

In [23]:
city2%3

day1    0
day2    0
day3    2
day4    0
dtype: int64

In [24]:
city2/3

day1    4.000000
day2   -2.000000
day3    2.666667
day4   -1.000000
dtype: float64

In [25]:
city2*3

day1    36
day2   -18
day3    24
day4    -9
dtype: int64

In [26]:
data ={'KL':25,'TN':26,'AP':34,'KA':24}

In [27]:
pd.Series(data)

KL    25
TN    26
AP    34
KA    24
dtype: int64

In [28]:
data=pd.Series(data)

In [29]:
data

KL    25
TN    26
AP    34
KA    24
dtype: int64

In [30]:
States =['TN','AP','KA','KL','DL','NA']

In [31]:
city3= pd.Series(data,index=states)

NameError: name 'states' is not defined

In [32]:
city3= pd.Series(data,index=States)

In [33]:
city3

TN    26.0
AP    34.0
KA    24.0
KL    25.0
DL     NaN
NA     NaN
dtype: float64

In [34]:
city3.isna()

TN    False
AP    False
KA    False
KL    False
DL     True
NA     True
dtype: bool

In [35]:
city3[city3.isna()]

DL   NaN
NA   NaN
dtype: float64

In [36]:
city3[city3.notna()]

TN    26.0
AP    34.0
KA    24.0
KL    25.0
dtype: float64

In [37]:
city3.notna()

TN     True
AP     True
KA     True
KL     True
DL    False
NA    False
dtype: bool

In [38]:
data ={'year':[2000,2001,2002,2003],'states':['KL'.'TN','MP','KA']}

SyntaxError: invalid syntax (<ipython-input-38-a44364392d59>, line 1)

In [39]:
data ={'year':[2000,2001,2002,2003],'states':['KL','TN','MP','KA'], 'pop':[300,200,203,900]}

In [40]:
data

{'year': [2000, 2001, 2002, 2003],
 'states': ['KL', 'TN', 'MP', 'KA'],
 'pop': [300, 200, 203, 900]}

In [41]:
pop_data = pd.DataFrame(data)

In [42]:
pop_data

   year states  pop
0  2000     KL  300
1  2001     TN  200
2  2002     MP  203
3  2003     KA  900

In [43]:
pop_data1= pd.DataFrame(data,columns= ['year','state','pop','income'])

In [44]:
pop_data1

   year state  pop income
0  2000   NaN  300    NaN
1  2001   NaN  200    NaN
2  2002   NaN  203    NaN
3  2003   NaN  900    NaN

In [45]:
pop_data1= pd.DataFrame(data,columns= ['year','states','pop','income'])

In [46]:
pop_data1

   year states  pop income
0  2000     KL  300    NaN
1  2001     TN  200    NaN
2  2002     MP  203    NaN
3  2003     KA  900    NaN

In [47]:
pop_data1['pop']

0    300
1    200
2    203
3    900
Name: pop, dtype: int64

In [48]:
pop_data1['income']

0    NaN
1    NaN
2    NaN
3    NaN
Name: income, dtype: object

In [49]:
pop_data1[income]=[2000,6000,8000,9000]

NameError: name 'income' is not defined

In [50]:
pop_data1[income]=[2000,6000,8000,9000]

NameError: name 'income' is not defined

In [51]:
pop_data1['income']=[2000,6000,8000,9000]

In [52]:
pop_data1

   year states  pop  income
0  2000     KL  300    2000
1  2001     TN  200    6000
2  2002     MP  203    8000
3  2003     KA  900    9000

In [53]:
pop_data1['debt']=[200,600,800,900]

In [54]:
pop_data1

   year states  pop  income  debt
0  2000     KL  300    2000   200
1  2001     TN  200    6000   600
2  2002     MP  203    8000   800
3  2003     KA  900    9000   900

In [55]:
pop_data1['save']=['income']-['debt']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [56]:
pop_data1['save']=pop_data1['income']-pop_data1['debt']

In [57]:
pop_data1

   year states  pop  income  debt  save
0  2000     KL  300    2000   200  1800
1  2001     TN  200    6000   600  5400
2  2002     MP  203    8000   800  7200
3  2003     KA  900    9000   900  8100

In [58]:
del pop_data1['pop']

In [59]:
pop_data1

   year states  income  debt  save
0  2000     KL    2000   200  1800
1  2001     TN    6000   600  5400
2  2002     MP    8000   800  7200
3  2003     KA    9000   900  8100

In [60]:
auto_data=pd.read_csv('auto_mpg.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'auto_mpg.csv'

In [61]:
df = pd.read_csv (r'C:\Users\user\AppData\Roaming\jupyter\runtime\auto-mpg.csv')

OSError: [Errno 22] Invalid argument: '"C:\\Users\\user\\AppData\\Roaming\\jupyter\\runtime\\auto-mpg.csv"'

In [62]:
df = pd.read_csv (r'C:\Users\user\AppData\Roaming\jupyter\runtime\auto-mpg.csv')

In [63]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10